<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{ blog.title }
  meta(name="keywords" content="#{ blog.title }")
  meta(name="description" content="#{ blog.title }")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  link(rel="stylesheet" href="/assets/css/@.css")
  link(rel="stylesheet" href="/assets/css/blog.css")
  link(rel="stylesheet" media="(min-width: 721px)" href="/assets/css/blog.pc.css")
  link(rel="stylesheet" media="(max-width: 720px)" href="/assets/css/blog.h5.css")
  link(rel="stylesheet" href="/assets/css/highlight.css")
body
  .title #{ blog.title }
  .subs
    a.index(href="/") KID's Blog
    span.date #{ blog.date }
  .content.markdown !{ blog.content }
  
  div#uyan_frame
  script(type="text/javascript" src="http://v2.uyan.cc/code/uyan.js")